body
{
    padding: 0;
    margin: 0;
}
.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}
#search
{   
    display: block;
    border-radius: 25px;
    width: 25%;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
    border-style: solid;
}
#icon
{
    display: block;
    width: 1.5em;
    height: 1em;
    position: relative;
    bottom:1.75em;
    left:45em;
    
}
.header
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    left: 105em;
}

.footer
{
    list-style-type: none;
    position: relative;
    top: 31em;
    background-color: #f2f2f2;
    
}

#right
{
    padding-left: 92em;
}
li
{
    display: inline;
    padding: 5px;
}


a
{
    color: rgb(68, 68, 70);
    text-decoration: none;
    font-size: small;
    font-family: sans-serif;
}
a:hover
{
    text-decoration: underline;
}
i
{
    position: relative;
    top:7px;
}
#dot 
{
    position: relative;
    top: 7px;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}